@(playFopUrl: String, addlInfoAsHtml: Option[String])

@import views.util.NavbarItem

@main("About PlayFOP Labels", NavbarItem.ABOUT) {

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>The Application</h3>
      <p>
        PlayFOP Labels is a sample <a href="https://www.playframework.com/">Play Framework</a> application for <a href="@playFopUrl">PlayFOP</a> and <a href="https://xmlgraphics.apache.org/fop/">Apache FOP</a>.
        It demonstrates generating PDFs and images (PNGs) from Play <a href="https://www.playframework.com/documentation/2.6.x/ScalaTemplates">Twirl</a> templates.
      </p>
      <p>PlayFOP Labels relies on:</p>
      <ul>
        <li><a href="http://getbootstrap.com/">Bootstrap</a>, as provided by Adrian Hurtado's <a href="https://adrianhurt.github.io/play-bootstrap/">Play-Bootstrap</a></li>
        <li><a href="https://jquery.com/">jQuery</a></li>
        <li>
          <a href="https://github.com/googlei18n/noto-emoji/tree/master/svg">Color emoji</a>
          from Google's <a href="https://www.google.com/get/noto/">Noto font family</a>
      </ul>
      <p>
        This is the Scala version (<a href="https://github.com/dmanchester/playfop/tree/master/sample-scala">source code</a>) of PlayFOP Labels.
        A Java version of PlayFOP Labels with equivalent functionality is also <a href="https://github.com/dmanchester/playfop/tree/master/sample-java">available</a>.
      </p>
      @addlInfoAsHtml.map { info => @Html(info) }
      <br/>
      <p>
        PlayFOP and the sample applications were written by <a href="https://www.dmanchester.com/">Daniel Manchester</a>.
      </p>
    </div>
  </div>
</div>
}
